tudu-tasks.db

.idea/
__pycache__/

build/
dist/
wheels/
share/python-wheels/
.installed.cfg
MANIFEST


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/
